################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/seozillabackend/assets/images
/seozillabackend/obj/Debug
/.vs/seozillabackend/v15/.suo
/.vs/seozillabackend/v15/Server/sqlite3
