﻿@model seozillabackend.Models.order

@{
    ViewBag.Title = "Order Details ";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="col-lg-12">

                <div class="card-box">

                    <h4>Order <span class="orderid"> @Html.DisplayFor(model => model.orderno)</span> / @Html.DisplayFor(model => model.service)
                    </h4>

                </div>
                <div class="card-box">
                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-5">
                            <p><strong>Date ordered:</strong>  @Html.DisplayFor(model => model.orderdate)</p>
                            <p><strong>Date due:</strong> @Html.DisplayFor(model => model.duedate)</p>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-7">
                            <p><strong>Order Comments</strong> (Special requests are not guaranteed)</p>
                            @Html.DisplayFor(model => model.comment)
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Edit Order</th>
                                        <th>Screenshot</th>
                                        <th>DA Ordered</th>
                                        <th>Word Count Required</th>
                                        <th>Anchor Text</th>
                                        <th>Target URL</th>
                                        <th>Post Title</th>
                                        <th>Post Placement</th>
                                        <th>DA</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="update_blogger_outreach.html" class="btn btn-icon waves-effect waves-light btn-info m-b-5"><span class="fa fa-pencil"></span></a></td>
                                        <td>Awaiting Screenshot</td>
                                        <td>DA 10+</td>
                                        <td>500 Words</td>
                                        <td>vbvcbcb</td>
                                        <td><a href="#">abc</a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="label label-danger" title="This order will not be processed until payment has been made. Should payment not be made within 32 days your order will be cancelled automatically.">Awaiting Payment</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="update_blogger_outreach.html" class="btn btn-icon waves-effect waves-light btn-info m-b-5"><span class="fa fa-pencil"></span></a></td>
                                        <td>Awaiting Screenshot</td>
                                        <td>DA 20+</td>
                                        <td>500 Words</td>
                                        <td>vbvcbcb</td>
                                        <td><a href="#">abc</a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="label label-danger" title="This order will not be processed until payment has been made. Should payment not be made within 32 days your order will be cancelled automatically.">Awaiting Payment</a></td>
                                    </tr>

                                    <tr>
                                        <td><a href="update_blogger_outreach.html" class="btn btn-icon waves-effect waves-light btn-info m-b-5"><span class="fa fa-pencil"></span></a></td>
                                        <td>Awaiting Screenshot</td>
                                        <td>DA 30+</td>
                                        <td>500 Words</td>
                                        <td>vbvcbcb</td>
                                        <td><a href="#">abc</a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="label label-danger" title="This order will not be processed until payment has been made. Should payment not be made within 32 days your order will be cancelled automatically.">Awaiting Payment</a></td>
                                    </tr>

                            </table>

                        </div>
                    </div>
                </div>

            </div> <!-- container -->
        </div> <!-- content -->
        
