@model seozillabackend.Models.order

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                   <th>Quantity</th>
                    <th>Details</th>
                    <th>Unit Cost</th>
                    <th>Subtotal</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
         
            @foreach (var itemblog in Model.blogs.Take(1))
                {
            
                    <tr>
                        <td class="count">@ViewBag.countblog</td>`
                    <td class="details"> @itemblog.daordered.DisplayName() @ViewBag.service</td>
                                   
                        <td>£<span class="unit-cost"></span></td>
                        <td>£<span class="total-cost"></span></td>
                     
                </tr>
              }

</tbody>
        </table>


    </div>
   
</div>


