@model seozillabackend.Models.order

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                   <th>Quantity</th>
                    <th>Details</th>
                    <th>Unit Cost</th>
                    <th>Subtotal</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
         
               @foreach (var itemblog in Model.blogs)
                {
                    <tr>
                        <td>@ViewBag.countblog</td>
                        <td> @itemblog.daordered.DisplayName() @itemblog.wordcount.DisplayName() @ViewBag.service</td> 
                        <td></td>                      
                        <td></td>
                        <td></td>
                       
                </tr>
                }


        </table>


    </div>
</div>
