﻿@model seozillabackend.Models.order


<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    @*<th>Edit Order</th>*@
                   
                    <th>DA Ordered</th>
                    <th>Word Count Required</th>
                    <th>Anchor Text</th>
                    <th>Target URL</th>
                    <th>Post Title</th>
                    <th>Post Placement</th>
                    <th>DA</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var itemblog in Model.blogs)
                { 
                <tr>
                    @*<td><a href="update_blogger_outreach.html" class="btn btn-icon waves-effect waves-light btn-info m-b-5"><span class="fa fa-pencil"></span></a></td>*@
                   
                    <td>@Html.DisplayFor(modelitem=>itemblog.daordered)</td>
                    <td>@Html.DisplayFor(modelitem=>itemblog.wordcount)</td>
                    <td>@Html.DisplayFor(modelitem=>itemblog.anchortext)</td>
                    <td><a href="#">@Html.DisplayFor(modelitem=>itemblog.targeturl)</a></td>
                    <td>@Html.DisplayFor(modelitem=>itemblog.posttitle)</td>
                    <td>@Html.DisplayFor(modelitem=>itemblog.postplacement)</td>
                    <td>@Html.DisplayFor(modelitem=>itemblog.da)</td>
                    
                    <td>@Html.DisplayFor(item => Model.status)</td>
                    <td>@Html.ActionLink("Edit", "Edit", "blogs", new { id = itemblog.ID }, null)</td>
                   
                    @*<td><a class="label label-danger" title="This order will not be processed until payment has been made. Should payment not be made within 32 days your order will be cancelled automatically.">@Html.DisplayFor(item=>Model.status)</a></td>*@
</tr>
                }
                

        </table>
        @*<hr />
        <label>This is order date </label><label>@Model.ID</label>*@
       
    </div>
</div>
