<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Edit Order</th>
                    <th>Select Country</th>
                    <th>Business Name</th>
                    <th>Website URL</th>
                    <th>Brief Business Description (Max 100 Words)</th>
                    <th>Keywords (Max 5)</th>
                    <th>Founder / CEO</th>
                    <th>Full Address Inc Post / Zip Code</th>
                    <th>Phone Number</th>
                    <th>Listing Email Address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="update_local_business_citations.html" class="btn btn-icon waves-effect waves-light btn-info m-b-5"><span class="fa fa-pencil"></span></a></td>
                    <td>UK</td>
                    <td>nv</td>
                    <td>nvbnbv</td>
                    <td>vbvcbcb</td>
                    <td>bnvn</td>
                    <td>fdf</td>
                    <td>ffffd</td>
                    <td>dsd</td>
                    <td>djs</td>
                    <td><a class="label label-danger" title="This order will not be processed until payment has been made. Should payment not be made within 32 days your order will be cancelled automatically.">Awaiting Payment</a></td>
                </tr>




        </table>

    </div>
</div>

