<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SEOZILLA is a product to make SEO efficient">


    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>@ViewBag.Title | SEOZILLA - A SEO Buffet</title>

    @*Morris Chart CSS*@
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

     @*App css*@ 
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">

    @*Begin page*@
    <div class="wrapper">
        @*Top bar start*@
        <div class="topbar">
          @*Logo*@
            <div class="navbar navbar-default dash" role="navigation">

                <div class="container">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="http://www.seozilla.co.uk/" class="logo"><img class="zmdi zmdi-layers" src="~/assets/images/logo-home.png" /></a>
                                @*<a href="" class="logo"><span>SEO<span>ZILLA</span></span><i class="zmdi zmdi-layers"></i></a>*@
</li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-primary waves-effect w-md waves-light m-b-5"  href="~/orders">DASHBOARD</a> 

                        </li>

                    </ul>

                </div>
            </div>
        </div>
       
        <div class="clearfix">


            @RenderBody()

        </div>

        <footer class="footer footer-new">
            2018 - 2019 © SEOZILLA.
        </footer>

    </div>
     @RenderSection("Scripts", false)

     @*END wrapper*@ 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        var resizefunc = [];

    </script>

    @*jQuery*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>


    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @*Morris Chart*@
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    @*Dashboard init*@
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @*App js*@
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>


    <script>
        @*Scripts*@

        $(document).ready(function () {

            var $quantity = $('.package-qty');
            var id = 1;
            var quantity = 1;
            var id1 = 0;
            
          
            $(".package-qty").on("change", function () {

                
                $quantity = $(this);

                id = $quantity.data("package-id"); //select box id

                quantity = parseInt($quantity.val()); //selected option value

                id1 = $("#package-data-" + id).index(); // select box index

                var value = $('option:selected', this).index(); // selected option index

                if (isNaN(quantity) || quantity < 0 || quantity == 0)
                {

                    $quantity.val(0);

                    quantity = 0;

                    $("#package-data-" + id).addClass("hidden");

                    $("#package-data-" + id).nextAll(".form-group-row").remove();

                }

                if (quantity > 0) {

                    $("#package-data-" + id).removeClass("hidden");

                    $("#package-data-" + id).find(".form-group-row").remove();



                    for (var i = 0; i < quantity; i++)
                    {


                        $("#package-data-" + id + " .panel-sub-heading").after(pack);  // Form Fields add

                        if ($("#blog_order").attr("name") == undefined)
                            $("#blog_order").attr("name", "[" + i + "].daordered");

                        if ($("#select1").attr("name") == undefined)
                            $("#select1").attr("name", "[" + i + "].wordcount");

                        if ($("#text1").attr("name") == undefined)
                            $("#text1").attr("name", "[" + i + "].anchortext");


                        if ($("#text2").attr("name") == undefined)
                            $("#text2").attr("name", "[" + i + "].targeturl");


                        if ($("#country").attr("name") == undefined)
                            $("#country").attr("name", "[" + i + "].country");

                        if ($("#text3").attr("name") == undefined)
                            $("#text3").attr("name", "[" + i + "].businessname");

                        if ($("#text4").attr("name") == undefined)
                            $("#text4").attr("name", "[" + i + "].websiteurl");

                        if ($("#text5").attr("name") == undefined)
                            $("#text5").attr("name", "[" + i + "].businessdescription");

                        if ($("#text6").attr("name") == undefined)
                            $("#text6").attr("name", "[" + i + "].keywords");

                        if ($("#text7").attr("name") == undefined)
                            $("#text7").attr("name", "[" + i + "].founder");

                        if ($("#text8").attr("name") == undefined)
                            $("#text8").attr("name", "[" + i + "].address");

                        if ($("#text9").attr("name") == undefined)
                            $("#text9").attr("name", "[" + i + "].phone");

                        if ($("#text10").attr("name") == undefined)
                            $("#text10").attr("name", "[" + i + "].email");
                        if ($("#text11").attr("name") == undefined)
                            $("#text11").attr("name", "[" + i + "].cloudurl");
                        if ($("#citation_order").attr("name") == undefined)
                            $("#citation_order").attr("name", "[" + i + "].plan");

                        if ($("#title").attr("name") == undefined)
                            $("#title").attr("name", "[" + i + "].title");

                        if ($("#website").attr("name") == undefined)
                            $("#website").attr("name", "[" + i + "].website");

                        if ($("#brief").attr("name") == undefined)
                            $("#brief").attr("name", "[" + i + "].brief");

                        if ($("#zilla_blog_quantity").attr("name") == undefined)
                            $("#zilla_blog_quantity").attr("name", "[" + i + "].quantity");

                        if ($("#zilla_blog_words").attr("name") == undefined)
                            $("#zilla_blog_words").attr("name", "[" + i + "].words");


                        if ($("#page-url").attr("name") == undefined)
                            $("#page-url").attr("name", "[" + i + "].pageurl");


                        if ($("#prime-keyword").attr("name") == undefined)
                            $("#prime-keyword").attr("name", "[" + i + "].primekeyword");


                        if ($("#secondary-keyword").attr("name") == undefined)
                            $("#secondary-keyword").attr("name", "[" + i + "].secondarykeyword");


                        if ($("#target-location").attr("name") == undefined)
                            $("#target-location").attr("name", "[" + i + "].targetlocation");


                        if ($("#onpage-plan").attr("name") == undefined)
                            $("#onpage-plan").attr("name", "[" + i + "].plan");




                        if ($("#keyword1").attr("name") == undefined)
                            $("#keyword1").attr("name", "[" + i + "].keyword1");


                        if ($("#keyword2").attr("name") == undefined)
                            $("#keyword2").attr("name", "[" + i + "].keyword2");


                        if ($("#keyword3").attr("name") == undefined)
                            $("#keyword3").attr("name", "[" + i + "].keyword3");


                        if ($("#competitor1").attr("name") == undefined)
                            $("#competitor1").attr("name", "[" + i + "].competitor1");


                        if ($("#competitor2").attr("name") == undefined)
                            $("#competitor2").attr("name", "[" + i + "].competitor2");

                        if ($("#competitor3").attr("name") == undefined)
                            $("#competitor3").attr("name", "[" + i + "].competitor3");


                        if ($("#targetlocation").attr("name") == undefined)
                            $("#targetlocation").attr("name", "[" + i + "].targetlocation");

                        if ($("#otherinfo").attr("name") == undefined)
                            $("#otherinfo").attr("name", "[" + i + "].otherinfo");

                        if ($("#type").attr("name") == undefined)
                            $("#type").attr("name", "[" + i + "].plan");





                        if ($("#url1").attr("name") == undefined)
                            $("#url1").attr("name", "[" + i + "].url1");


                        if ($("#url2").attr("name") == undefined)
                            $("#url2").attr("name", "[" + i + "].url2");


                        if ($("#url3").attr("name") == undefined)
                            $("#url3").attr("name", "[" + i + "].url3");

                        if ($("#keyword1a").attr("name") == undefined)
                            $("#keyword1a").attr("name", "[" + i + "].keyword1a");


                        if ($("#keyword1b").attr("name") == undefined)
                            $("#keyword1b").attr("name", "[" + i + "].keyword1b");

                        if ($("#keyword2a").attr("name") == undefined)
                            $("#keyword2a").attr("name", "[" + i + "].keyword2a");

                        if ($("#keyword2b").attr("name") == undefined)
                            $("#keyword2b").attr("name", "[" + i + "].keyword2b");

                        if ($("#keyword3a").attr("name") == undefined)
                            $("#keyword3a").attr("name", "[" + i + "].keyword3a");

                        if ($("#keyword3b").attr("name") == undefined)
                            $("#keyword3b").attr("name", "[" + i + "].keyword3b");

                        if ($("#cloud-url").attr("name") == undefined)
                            $("#cloud-url").attr("name", "[" + i + "].cloudurl");

                        if ($("#link-plan").attr("name") == undefined)
                            $("#link-plan").attr("name", "[" + i + "].plan");







                        if ($("#blog_order").attr("value") == undefined)

                            if (id1 == 0)
                            {

                                $("#blog_order").attr("value", "ten_plus");
                            }
                            else if (id1 == 1)
                            {

                                $("#blog_order").attr("value", "twenty_plus");
                            }
                            else if (id1 == 2)
                            {

                                $("#blog_order").attr("value", "thirty_plus");
                            }
                            else if (id1 == 3)
                            {

                                $("#blog_order").attr("value", "forty_plus");
                            }
                            else if (id1 == 4)
                            {

                                $("#blog_order").attr("value", " ten_plus_special");
                            }
                        if ($("#citation_order").attr("value") == undefined)

                            if (id1 == 0) {

                                $("#citation_order").attr("value", "Zilla Local Starter");
                            }
                            else if (id1 == 1) {

                                $("#citation_order").attr("value", "Zilla Local Small");
                            }
                            else if (id1 == 2) {

                                $("#citation_order").attr("value", "Zilla Local Medium");
                            }
                            else if (id1 == 3) {

                                $("#citation_order").attr("value", "Zilla Local Large");
                            }
                        if ($("#zilla_blog_quantity").attr("value") == undefined)
                            if (id1 == 0) {

                                $("#zilla_blog_quantity").attr("value", "1");
                            }
                            else if (id1 == 1) {

                                $("#zilla_blog_quantity").attr("value", "2");
                            }
                            else if (id1 == 2) {

                                $("#zilla_blog_quantity").attr("value", "4");
                            }
                            else if (id1 == 3) {

                                $("#zilla_blog_quantity").attr("value", "8");
                            }
                        if ($("#zilla_blog_words").attr("value") == undefined)
                            if (id == 1 && value == 1) {
                                $("#zilla_blog_words").attr("value", "1 x 500 Words Article");
                            }
                        if (id == 1 && value == 2) {
                            $("#zilla_blog_words").attr("value", "1 x 1000 Words Article");
                        }
                        if (id == 1 && value == 3) {
                            $("#zilla_blog_words").attr("value", "1 x 1500 Words Article");
                        }
                        if (id == 1 && value == 4) {
                            $("#zilla_blog_words").attr("value", "1 x 2000 Words Article");
                        }
                        if (id == 2 && value == 1) {
                            $("#zilla_blog_words").attr("value", "2 x 500 Words Article");
                        }
                        if (id == 2 && value == 2) {
                            $("#zilla_blog_words").attr("value", "2 x 1000 Words Article");
                        }
                        if (id == 2 && value == 3) {
                            $("#zilla_blog_words").attr("value", "2 x 1500 Words Article");
                        }
                        if (id == 2 && value == 4) {
                            $("#zilla_blog_words").attr("value", "2 x 2000 Words Article");
                        }
                        if (id == 3 && value == 1) {
                            $("#zilla_blog_words").attr("value", "4 x 500 Words Article");
                        }
                        if (id == 3 && value == 2) {
                            $("#zilla_blog_words").attr("value", "4 x 1000 Words Article");
                        }
                        if (id == 3 && value == 3) {
                            $("#zilla_blog_words").attr("value", "4 x 1500 Words Article");
                        }
                        if (id == 3 && value == 4) {
                            $("#zilla_blog_words").attr("value", "4 x 2000 Words Article");
                        }
                        if (id == 4 && value == 1) {
                            $("#zilla_blog_words").attr("value", "8 x 500 Words Article");
                        }
                        if (id == 4 && value == 2) {
                            $("#zilla_blog_words").attr("value", "8 x 1000 Words Article");
                        }
                        if (id == 4 && value == 3) {
                            $("#zilla_blog_words").attr("value", "8 x 1500 Words Article");
                        }
                        if (id == 4 && value == 4) {
                            $("#zilla_blog_words").attr("value", "8 x 2000 Words Article");
                        }

                        if ($("#onpage-plan").attr("value") == undefined)
                            if (id1 == 0) {

                                $("#onpage-plan").attr("value", "2–4 Pages");
                            }
                            else if (id1 == 1) {

                                $("#onpage-plan").attr("value", "5–9 Pages");
                            }
                            else if (id1 == 2) {

                                $("#onpage-plan").attr("value", "10–19 Pages");
                            }
                            else if (id1 == 3) {

                                $("#onpage-plan").attr("value", "20–30 Pages");
                            }
                       
                        if ($("#type").attr("value") == undefined)

                            if (id1 == 0) {

                                $("#type").attr("value", "Zilla X 750");
                            }
                            else if (id1 == 1) {

                                $("#type").attr("value", "Zilla X 1500");
                            }
                            else if (id1 == 2) {

                                $("#type").attr("value", "Zilla X 3000");
                            }

                        if ($("#link-plan").attr("value") == undefined)

                            if (id1 == 0) {

                                $("#link-plan").attr("value", "Bronze");
                            }
                            else if (id1 == 1) {

                                $("#link-plan").attr("value", "Silver");
                            }
                            else if (id1 == 2) {

                                $("#link-plan").attr("value", "Gold");
                            }
                       

                    }
                }
                


               

                // Amount and payment url for zilla guest post/blog

                if (document.getElementById("blog")) { 

                    if (id == 1 && quantity == 1) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da10%2B-1pack");
                        $("#amount").attr("value", "75");

                    }
                    if (id == 1 && quantity == 5) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da10%2B-5packs");
                        $("#amount").attr("value", "350");

                    }
                    if (id == 1 && quantity == 10) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da10%2B-10packs");
                        $("#amount").attr("value", "650");

                    }
                    if (id == 2 && quantity == 1) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-20%2B-1pack");
                        $("#amount").attr("value", "110");

                    }
                    if (id == 2 && quantity == 5) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-20%2B-5packs");
                        $("#amount").attr("value", "500");

                    }
                    if (id == 2 && quantity == 10) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-20%2B-10packs");
                        $("#amount").attr("value", "980");

                    }

                    if (id == 3 && quantity == 1) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da30%2B-1packs");
                        $("#amount").attr("value", "150");

                    }
                    if (id == 3 && quantity == 5) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/-blogs-da30%2B5packs");
                        $("#amount").attr("value", "670");

                    }
                    if (id == 3 && quantity == 10) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da30%2B-10packs");
                        $("#amount").attr("value", "1300");

                    }
                    if (id == 4 && quantity == 1) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da40%2B-1pack");
                        $("#amount").attr("value", "300");

                    }
                    if (id == 4 && quantity == 5) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da40%2B-5packs");
                        $("#amount").attr("value", "1350");

                    }
                    if (id == 4 && quantity == 10) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/blogs-da40%2B-10packs");
                        $("#amount").attr("value", "2600");

                    }

                }

                // Amount and payment url for zilla local seo/citation

                if (document.getElementById("citation")) {

                    if (id == 1 && quantity == 1 || quantity == 2 || quantity == 3 ) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/zilla-local-starter");
                        $("#amount").attr("value", "125");

                    }
                    if (id == 2 && quantity == 1 || quantity == 2 || quantity == 3) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/zilla-local-small");
                        $("#amount").attr("value", "150");

                    }
                    if (id == 3 && quantity == 1 || quantity == 2 || quantity == 3) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/zilla-local-medium");
                        $("#amount").attr("value", "260");

                    }
                    if (id == 4 && quantity == 1 || quantity == 2 || quantity == 3) {
                        $("#url").attr("value", "https://amit-test.chargebee.com/hosted_pages/plans/zilla-local-large");
                        $("#amount").attr("value", "400");

                    }
                }

                // Amount and payment url for zilla blogs

                if (document.getElementById("zilla-blog")) {

                    if (id == 1 && value == 1) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "30");
                    }
                    if (id == 1 && value == 2) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "55");
                    }
                    if (id == 1 && value == 3) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "100");
                    }
                    if (id == 1 && value == 4) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "70");
                    }

                    if (id == 2 && value == 1) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "50");
                    }
                    if (id == 2 && value == 2) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "100");
                    }
                    if (id == 2 && value == 3) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "255");
                    }
                    if (id == 2 && value == 4) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "360");
                    }

                    if (id == 3 && value == 1) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "90");
                    }
                    if (id == 3 && value == 2) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "100");
                    }
                    if (id == 3 && value == 3) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "255");
                    }
                    if (id == 3 && value == 4) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "360");
                    }

                    if (id == 4 && value == 1) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "180");
                    }
                    if (id == 4 && value == 2) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "360");
                    }
                    if (id == 4 && value == 3) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "480");
                    }
                    if (id == 4 && value == 4) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "720");
                    }

                }

                // Amount and payment url for zilla link

                if (document.getElementById("zilla-link")) {

                    if (id == 1 && quantity == 5) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "350");
                    }
                    if (id == 1 && quantity == 10) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "650");
                    }


                    if (id == 2 && quantity == 5) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "150");
                    }
                    if (id == 2 && quantity == 10) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "260");
                    }


                    if (id == 3 && quantity == 5) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "200");
                    }
                    if (id == 3 && quantity == 10) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "375");
                    }

                }

                // Amount and payment url for zilla x

                if (document.getElementById("zillax"))
                {
                    if (id == 1 && quantity == 1) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "750");
                    }
                    if (id == 2 && quantity == 1) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1500");
                    }
                    if (id == 3 && quantity == 1) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "3000");
                    }
                }

                // Amount and payment url for zilla on page

                if (document.getElementById("zilla-on-page")) {
                    if (id == 1 && quantity == 2) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "160");
                    }
                    if (id == 1 && quantity == 3) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "240");
                    }
                    if (id == 1 && quantity == 4) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "320");
                    }
                    if (id == 2 && quantity == 5) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "375");
                    }
                    if (id == 2 && quantity == 6) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "450");
                    }
                    if (id == 2 && quantity == 7) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "525");
                    }
                    if (id == 2 && quantity == 8) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "600");
                    }
                    if (id == 2 && quantity == 9) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "675");
                    }
                    if (id == 3 && quantity == 10) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "700");
                    }
                    if (id == 3 && quantity == 11) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "770");
                    }
                    if (id == 3 && quantity == 12) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "840");
                    }
                    if (id == 3 && quantity == 13) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "910");
                    }
                    if (id == 3 && quantity == 14) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "980");
                    }
                    if (id == 3 && quantity == 15) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1050");
                    }
                    if (id == 3 && quantity == 16) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1120");
                    }
                    if (id == 3 && quantity == 17) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1190");
                    }
                    if (id == 3 && quantity == 18) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1260");
                    }
                    if (id == 3 && quantity == 19) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1330");
                    }
                    if (id == 4 && quantity == 20) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1300");
                    }
                    if (id == 4 && quantity == 21) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1365");
                    }
                    if (id == 4 && quantity == 22) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1430");
                    }
                    if (id == 4 && quantity == 23) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1495");
                    }
                    if (id == 4 && quantity == 24) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1560");
                    }
                    if (id == 4 && quantity == 25) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1625");
                    }
                    if (id == 4 && quantity == 26) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1690");
                    }
                    if (id == 4 && quantity == 27) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1755");
                    }
                    if (id == 4 && quantity == 28) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1820");
                    }
                    if (id == 4 && quantity == 29) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1885");
                    }
                    if (id == 4 && quantity == 30) {
                        $("#url").attr("value", "");
                        $("#amount").attr("value", "1950");
                    }
                }
                
                        var amount_add = $("#amount").val();

                        var Cost = $("#oldCost-" + id).text();
                
                        var newcost = (Cost * quantity);

                        $(".total-citation-cost").text(newcost);

                        $(".totalcost-citation-usd").text(Math.round((newcost) * (1.40)));

                        //$("#newCost-" + id).text(newcost);

                        //var new1 = parseInt($("#newCost-1").text());
                        //var new2 = parseInt($("#newCost-2").text());
                        //var new3 = parseInt($("#newCost-3").text());
                        //var new4 = parseInt($("#newCost-4").text());

                        $(".totalcost").text(amount_add);

                        $(".totalcost_usd").text(Math.round((amount_add) * (1.40)));

                        if (quantity < 5 && quantity != 0) {
                            $(".approx_days").html('Approx 14 Days');
                        }

                        if (quantity > 5 && quantity != 0) {
                            $(".approx_days").html('Approx 21 Days');
                        }
                        //if (quantity > 25) {
                        //    $(".approx_days").html('  Approx 28 Days');
                        //}

                        if (quantity == 0) {
                            $(".approx_days").html(NaN);
                            $(".totalcost").text(0);

                            $(".totalcost_usd").text(0);

                        }



                   


            });

            $('input[type="radio"]').change(function () {
                

                
               
                if ($('input[name="radio-button"]').is(':checked')) {


                    var radioValue = $("input[name='radio-button']:checked").val();
                    
                    switch (radioValue) {
                        case "1":
                            $("#select1").prop("disabled", false);
                            $("#select2").prop("disabled", true);
                            $("#select3").prop("disabled", true);
                            $("#select4").prop("disabled", true);
                            break;

                        case "2":
                            $("#select2").prop("disabled", false);
                            $("#select1").prop("disabled", true);
                            $("#select3").prop("disabled", true);
                            $("#select4").prop("disabled", true);                            
                            break;

                        case "3":
                            $("#select3").prop("disabled", false);
                            $("#select1").prop("disabled", true);
                            $("#select2").prop("disabled", true);
                            $("#select4").prop("disabled", true);

                            break;

                        case "4":
                            $("#select4").prop("disabled", false);
                            $("#select1").prop("disabled", true);
                            $("#select2").prop("disabled", true);
                            $("#select3").prop("disabled", true);
                            break;

                        default:
                            $("#select4").prop("disabled", true);
                            $("#select1").prop("disabled", true);
                            $("#select2").prop("disabled", true);
                            $("#select3").prop("disabled", true);


                    }
                   
                    $("#package-data-" + id).addClass("hidden");

                    $("#package-data-" + id).find(".form-group-row").remove();

                    $quantity.val(0);

                    $(".approx_days").html(NaN);

                    $("#newCost-" + id).text(0);

                    $(".totalcost").text(0);

                    $(".totalcost_usd").text(0);

                    $(".total-citation-cost").text(0);
                   
                    $(".totalcost-citation-usd").text(0);
                } 

            });

           
    });
    </script>
    
</body>


</html>