<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SEOZILLA is a product to make SEO efficient">


    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>@ViewBag.Title | SEOZILLA - A SEO Buffet</title>

    @*Morris Chart CSS*@
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">

    @*Begin page*@
    <div class="topbar">

        <div class="navbar navbar-default dash" role="navigation">

            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="logo"><span>SEO<span>ZILLA</span></span><i class="zmdi zmdi-layers"></i></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-primary waves-effect w-md waves-light m-b-5">DASHBOARD </button>

                    </li>

                </ul>

            </div>
        </div><!-- end navbar -->
    </div>

    <div class="clearfix">


         <br /><br /><br /><br />

        @RenderBody()

    </div>

        <footer class="footer footer-new">
            2018 - 2019 © SEOZILLA.
        </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        var resizefunc = [];

    </script>

    @*jQuery*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>


    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @*Morris Chart*@
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    @*Dashboard init*@
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @*App js*@
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

</body>


</html>