<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SEOZILLA is a product to make SEO efficient">


    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>@ViewBag.Title | SEOZILLA - A SEO Buffet</title>

    @*Morris Chart CSS*@
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

     @*App css*@ 
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">

    @*Begin page*@
    <div class="wrapper">
        @*Top bar start*@
        <div class="topbar">
          @*Logo*@
            <div class="navbar navbar-default dash" role="navigation">

                <div class="container">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="" class="logo"><span>SEO<span>ZILLA</span></span><i class="zmdi zmdi-layers"></i></a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-primary waves-effect w-md waves-light m-b-5"  href="~/orders">DASHBOARD</a> 

                        </li>

                    </ul>

                </div>
            </div>
        </div>
       
        <div class="clearfix">


            @RenderBody()

        </div>

        <footer class="footer footer-new">
            2018 - 2019 © SEOZILLA.
        </footer>

    </div>
     @RenderSection("Scripts", false)

     @*END wrapper*@ 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        var resizefunc = [];

    </script>

    @*jQuery*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>


    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @*Morris Chart*@
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    @*Dashboard init*@
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @*App js*@
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>


    <script>
        @*Scripts*@

        $(document).ready(function () {

       
          
            $(".package-qty").on("change", function () {


                //$("#package-data-" + id).nextAll(".form-group-row").remove();

                //$("package-container").find(".form-group-row").remove();

                //$("#package-data-" + id).find(".form-group-row").remove();

                //$(".form-group-row").remove();

                var $quantity = $(this);


                id = $quantity.data("package-id");



                quantity = parseInt($quantity.val());



                if (isNaN(quantity) || quantity < 0 || quantity == 0) {

                    $quantity.val(0);

                    quantity = 0;

                    $("#package-data-" + id).addClass("hidden");

                    $("#package-data-" + id).nextAll(".form-group-row").remove();

                }

                if (quantity > 0) {

                    $("#package-data-" + id).removeClass("hidden");

                    $("#package-data-" + id).find(".form-group-row").remove();

                    var n = 0;

                    for (var i = 0; i < quantity; i++) {


                        $("#package-data-" + id + " .panel-sub-heading").after(pack);


                        $("#package-data-" + id).find(".form-group-row")

                        if (jQuery("#select1").attr("name") == undefined)
                            jQuery("#select1").attr("name", "wordcount" + n++);

                        if (jQuery("#text1").attr("name") == undefined)
                            jQuery("#text1").attr("name", "anchortext" + n++);

                        if (jQuery("#text2").attr("name") == undefined)
                            jQuery("#text2").attr("name", "targeturl" + n++);


                        if (jQuery("#select2").attr("name") == undefined)
                            jQuery("#select2").attr("name", "country" + n++);

                        if (jQuery("#text3").attr("name") == undefined)
                            jQuery("#text3").attr("name", "businessname" + n++);

                        if (jQuery("#text4").attr("name") == undefined)
                            jQuery("#text4").attr("name", "websiteurl" + n++);

                        if (jQuery("#text5").attr("name") == undefined)
                            jQuery("#text5").attr("name", "businessdescription" + n++);

                        if (jQuery("#text6").attr("name") == undefined)
                            jQuery("#text6").attr("name", "keywords" + n++);

                        if (jQuery("#text7").attr("name") == undefined)
                            jQuery("#text7").attr("name", "founder" + n++);

                        if (jQuery("#text8").attr("name") == undefined)
                            jQuery("#text8").attr("name", "address" + n++);

                        if (jQuery("#text9").attr("name") == undefined)
                            jQuery("#text9").attr("name", "phone" + n++);

                        if (jQuery("#text10").attr("name") == undefined)
                            jQuery("#text10").attr("name", "email" + n++);



                    }

                }
                
                    var Cost = $("#oldCost-"+id).text();
                    var newcost = (Cost * quantity);
                    


                    $("#newCost-" + id).text(newcost); 

                    var new1 = parseInt($("#newCost-1").text());
                    var new2 =  parseInt($("#newCost-2").text());
                    var new3 = parseInt ($("#newCost-3").text());
                    var new4 =  parseInt($("#newCost-4").text());
                    var new5 = parseInt($("#newCost-5").text());

                                    
                    $(".totalcost").text(new1 + new2 + new3 + new4 + new5);


                   
                   

        });
    });
    </script>



</body>


</html>