﻿<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SEOZILLA is a product to make SEO efficient">
    

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>@ViewBag.Title | SEOZILLA - A SEO Buffet</title>

    @*Morris Chart CSS*@ 
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/modernizr.min.js"></script>




</head>


<body class="fixed-left">

     @*Begin page*@ 
    <div id="wrapper">

        @*Top Bar Start*@
        <div class="topbar">

            @*LOGO*@
            <div class="topbar-left">
                <a href="current.html" class="logo"><span>SEO<span>ZILLA</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>


            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    @*Page title*@
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li>
                            <h4 class="page-title"></h4>
                        </li>
                    </ul>


                </div> @*end container*@
            </div> @*end navbar*@
        </div>
        @*Top Bar End*@
        @*========== Left Sidebar Start ==========*@
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                @*User*@
                <div class="user-box">

                    <h5><a href="#">Mat Helme</a> </h5>

                </div>
                @*End User*@
                @*- Sidemenu*@
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">Order</li>
                        <li>
                            <a href="add_new.html" class="waves-effect"><i class="fa fa-fw fa-plus-square"></i> <span>ADD NEW </span> </a>
                        </li>
                        <li>
                            <a href="current.html" class="waves-effect"><i class="fa fa-fw fa-list-alt"></i> <span>CURRENT</span> </a>
                        </li>
                        <li>
                            <a href="archived.html" class="waves-effect"><i class="fa fa-fw fa-archive"></i> <span>ARCHIVED</span> </a>
                        </li>

                        <li>
                            <a href="cancelled.html" class="waves-effect"><i class="fa fa-fw fa-trash"></i><span>CANCELLED</span> </a>
                        </li>

                    </ul>

                    <ul>
                        <li class="text-muted menu-title">My Account</li>

                        <li>

                            <a href="my_profile.html" class="waves-effect"><i class="fa fa-fw fa-user"></i><span>MY PROFILE</span></a>

                        </li>

                        <li>

                            <a href="view_invoices.html" class="waves-effect"><i class="fa fa-fw fa-file-text"></i> <span>VIEW INVOICES</span></a>

                        </li>

                        <li>
                            <a href="page-login.html">
                                <i class="fa fa-fw fa-power-off"></i> <span>LOG OUT</span>
                            </a>
                        </li>


                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-life-ring"></i><span> CONTACT SUPPORT</span>
                            </a>

                        </li>

                    </ul>





                    <div class="clearfix"></div>
                </div>
                @*Sidebar*@
                <div class="clearfix"></div>

            </div>

        </div>
        @*Left Sidebar End*@
        @RenderBody()
        <footer class="footer text-right">
            2018 - 2019 © SEOZILLA.
        </footer>
        

    </div>
        
    </div>

    
</div>
    @RenderSection("Scripts", false)
     @*END wrapper*@ 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        var resizefunc = [];

    </script>

    @*jQuery*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    @*KNOB JS*@
    <!--[if IE]>
    <script type="text/javascript" src="~/assets/plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->




    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @*Morris Chart*@
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    @*Dashboard init*@
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @*App js*@
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script>
        $(document).ready(function () {

            var originalContent = $('.label-danger').html();

            $(".label-danger").hover(function () {

                $(this).html('<strong>Make Payment</strong>').css({ "background": "#10c469" });

            }, function () {
                $(this).html(originalContent).css({ "background": "#ff5b5b" });

            });

        });

    </script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        var resizefunc = [];

    </script>

    @*jQuery*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="~/assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @*Morris Chart*@
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    @*Dashboard init*@
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @*App js*@
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script>
        $(document).ready(function () {
            

            var originalContent = $('.label-danger').html();

            $(".label-danger").hover(function () {

                $(this).html('<strong>Make Payment</strong>').css({ "background": "#10c469" });

            }, function () {
                $(this).html(originalContent).css({ "background": "#ff5b5b" });

            });

            $(".zmdi-menu").click(function () {
                
                $("div#wrapper").toggleClass("enlarged");
            });



        });

    </script>

</body>


</html>