<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SEOZILLA is a product to make SEO efficient">


    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>@ViewBag.Title | SEOZILLA - A SEO Buffet</title>

    @*Morris Chart CSS*@
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

     @*App css*@ 
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">

    @*Begin page*@
    <div class="wrapper">
        @*Top bar start*@
        <div class="topbar">
          @*Logo*@
            <div class="navbar navbar-default dash" role="navigation">

                <div class="container">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="" class="logo"><span>SEO<span>ZILLA</span></span><i class="zmdi zmdi-layers"></i></a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button class="btn btn-primary waves-effect w-md waves-light m-b-5">DASHBOARD </button>

                        </li>

                    </ul>

                </div>
            </div>
        </div>

        <div class="clearfix">


            @RenderBody()

        </div>

        <footer class="footer footer-new">
            2018 - 2019 © SEOZILLA.
        </footer>

    </div>
     @RenderSection("Scripts", false)

     @*END wrapper*@ 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        var resizefunc = [];

    </script>

    @*jQuery*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>


    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @*Morris Chart*@
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    @*Dashboard init*@
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @*App js*@
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>


    <script>
        @*Scripts*@

    $(document).ready(function () {

      
        var pack = '<div class="form-group-row"><div class="col-md-4"><label class="label-field">Word Count Required</label><div class="input-group"><select class="form-control" data-field="0" data-row="0"><option value="500 Words" data-cost="0">500 Words</option><option value="750 Words" data-cost="7.50">750 Words +(£7.50)</option><option value="1000 Words" data-cost="10.00">1000 Words +(£10.00)</option><option value="1250 Words" data-cost="12.50">1250 Words +(£12.50)</option><option value="1500 Words" data-cost="15.00">1500 Words +(£15.00)</option></select><div class="input-group-addon"><a class="label label-primary" title="We recommend you vary word counts to avoid leaving link building footprints." ">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Anchor Text*</label><div class="input-group"><input type="text" class="form-control" data-field="1" data-row="0"   value="" required="true"><div class="input-group-addon"><a class="label label-primary" title="We may tweak anchor phrases slightly (even remove regional identifiers) if they will not naturally fit into the flow of content." >Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Target URL*</label><div class="input-group"><input type="url" data-field-type="url" class="form-control" data-field="2" data-row="0"  value="" required="true"><div class="input-group-addon"><a class="label label-primary" title="Please tell us the URL you would like the link to point to." ">Tip</a></div></div></div></div>';

        $(".package-qty").on("change", function () {

         
            //$("#package-data-" + id).nextAll(".form-group-row").remove();

            //$("package-container").find(".form-group-row").remove();

            //$("#package-data-" + id).find(".form-group-row").remove();

            $(".form-group-row").remove();

            var $quantity = $(this),

            id = $quantity.data("package-id"),

            quantity = parseInt($quantity.val());

            alert(id);

            if (isNaN(quantity) || quantity < 0 || quantity == 0) {

                $quantity.val(0);

                quantity = 0;

                $("#package-data-" + id).addClass("hidden");

                $("#package-data-" + id).nextAll(".form-group-row").remove();

            }

            if (quantity > 0) {
                $("#package-data-" + id).removeClass("hidden");

                for (var i = 0; i < quantity; i++) {

                    $("#package-data-" + id).after(pack);
                }

            }

        });
    });
    </script>



</body>


</html>