@model seozillabackend.Models.order

@{
    ViewBag.Title = "Add New";
    Layout = "~/Views/Shared/_layout_without_sidebar.cshtml";
}

<div class="content-page content-page-new">
     @*Start content*@ 
    <div class="content">
        <div class="container">


            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="page-title">Services</h4>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-box">

                    <div id="place-order">

                        <span class="badge step-indicator">1</span> Which service would you like to order?

                    </div>

                     @*Row start*@ 
                    <div class="row">

                        <div class="col-md-4 form-group" data-toggle="buttons">
                            <h3 class="text-center service-title">LINK BUILDING SERVICES</h3>
                            <label class="service_tab btn btn-block btn-default  active" data-toggle="tab" data-target="#blogger_outreach" title="We handle the outreach – We write the content – We secure the placement. You'll get in content editorial links inside a unique content placement published on genuine individually owned blogs.">
                                <input type="radio" name="service" id="1" class="pull-left" value="blogger_outreach" checked="">Blogger Outreach
                            </label>
                            <label class="service_tab btn btn-block btn-default  " data-toggle="tab" data-target="#local_business_citations" title="Get your business, website and NAP details listed on website directories for the UK, USA, Canada and Australia. A completely 100% manual submission process which includes a full submission report showing live citations and screenshot submissions.">
                                <input type="radio" name="service" id="17" class="pull-left" value="local_business_citations">Local Business Citations
                            </label>
                            <label class="service_tab btn btn-block btn-default  " data-toggle="tab" data-target="#press_release_distribution" title="Distribute news to 50+ online media outlets including Google Newswith our 100% done-for-you press release distribution service.">
                                <input type="radio" name="service" id="9" class="pull-left" value="press_release_distribution">Press Release Distribution
                            </label>
                            <label class="service_tab btn btn-block btn-default  " data-toggle="tab" data-target="#infographic_outreach" title="We’ll get your infographic published on genuine blogs with a quality brand mention – We’ll even write the content to go with it.">
                                <input type="radio" name="service" id="3" class="pull-left" value="infographic_outreach">Infographic Outreach
                            </label>
                            <h3 class="text-center service-title">CONTENT CREATION SERVICES</h3>
                            <label class="service_tab btn btn-block btn-default  " data-toggle="tab" data-target="#content_writing" title="Crisp, clean and concise magazine quality content written to order.">
                                <input type="radio" name="service" id="5" class="pull-left" value="content_writing">Content Writing
                            </label>
                            <label class="service_tab btn btn-block btn-default  " data-toggle="tab" data-target="#infographic_design" title="Beautifully designed infographics with a 100% white label and hassle-free design process.">
                                <input type="radio" name="service" id="15" class="pull-left" value="infographic_design">Infographic Design
                            </label>
                            <h3 class="text-center service-title">SECRET BETA SERVICES</h3>
                            <label class="service_tab btn btn-block btn-default  " data-toggle="tab" data-target="#media_placements" title="Test">
                                <input type="radio" name="service" id="19" class="pull-left" value="media_placements">Media Placements DA50+
                            </label>
                            <label class="service_tab btn btn-block btn-default  " data-toggle="tab" data-target="#whiteboard_explainer_video" title="Highly engaging white board explainer videos (30-60 seconds). Complete with American male voiceover. 7 day turnaround.">
                                <input type="radio" name="service" id="20" class="pull-left" value="whiteboard_explainer_video">Whiteboard Explainer Video
                            </label>
                        </div>
                        <div class="col-lg-8">

                            <div id="service-descriptions" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="blogger_outreach">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/1.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/2.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/3.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/4.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p>Take advantage of our completely done for you blogger outreach placement service. We handle the outreach, we handle the writing and we’ll secure you a completely earned, natural looking content placement with in-content editorial links (no author bio links). <a href="#" target="_blank" style="color:#4099FF;">Take the full service tour here</a>.</p>																															<ul class="list-unstyled lh1-4">
                                        <li>
                                            <strong> DA 10+ Websites *LowTier* costs</strong>:  1 pack £75.00 each /  5 packs £350.00  / 10 packs £650 
                                          
                                        </li>
                                        <li>
                                          <strong> DA 20+ Websites *MidTier* costs</strong>:  1 pack £110.00 each / 5 packs £500.00/ 10 packs £980.00
                                          
                                        </li>
                                        <li>
                                            <strong>DA 30+ Websites *HighTier* costs </strong>:1 pack £150.00 each / 5 packs £670.00 /  10 packs £1300.00

                                        </li>
                                        <li>
                                           <strong>DA 40+ Websites *Premium* costs </strong>:  1 pack £300.00 each / 5 packs £1350.00 /  10 packs £2600.00
                                            
                                        </li>
                                    </ul>
                                    <div class="panel-group" id="blogger_outreachfaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#blogger_outreach0">
                                                        Who writes the content?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="blogger_outreach0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Our exceptionally talented in-house trained 30+ content writing team who are all well versed with the ghost blogging writing style.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#blogger_outreach1">
                                                        What will the content be about?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="blogger_outreach1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Content is created to fit perfectly on the blog owners website and we ensure it relates to your link. You’ll get a great natural looking relevent link.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#blogger_outreach2">
                                                        How long will these placements stay live for?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="blogger_outreach2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Placements usually last indefinitely but we’ll guarantee them for at least 90 days from the time of placement for peace of mind. The majority will be around for years.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#blogger_outreach3">
                                                        Where are the links placed?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="blogger_outreach3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Unlike others we get you real, editorial in-content links. Thats links and ‘mentions’ that exist naturally within the flow of the content along with a couple of other useful non competing links to further solidify the natural aspect of the content. No author boxes here.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#blogger_outreach4">
                                                        Can we approve sites or content?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="blogger_outreach4" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    You won’t be able to pre-approve however you can manage the live progress and see placements as we secure them from within your dashboard. The content is non promotional and written in a ghost blogging style so it would be unnecessary to pre approve.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block" href="~/blogs/create">Place Order</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="infographic_outreach">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/5.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/6.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/7.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/8.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p>We'll get your infographic published on genuine blogs with a quality brand link mention. We'll even write unique content descriptions for every single placement you order. This is a great way to mimic natural viral distribution. <a href="#" target="_blank" style="color:#4099FF;">Take the full service tour here</a>.</p>																															<ul class="list-unstyled lh1-4">
                                        <li>
                                            <strong>DA10+ (TF Typical Average 5+)</strong> - from £27.50 / $45.00 Per Placement
                                        </li>
                                        <li>
                                            <strong>DA20+ (TF Typical Average 10+)</strong> - from £47.50 / $75.00 Per Placement
                                        </li>
                                        <li>
                                            <strong>DA30+ (TF Typical Average 10+)</strong> - from £67.50 / $105.00 Per Placement
                                        </li>
                                    </ul>
                                    <div class="panel-group" id="infographic_outreachfaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_outreach0">
                                                        What is an infographic outreach placement?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_outreach0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    We'll get other related blog owners to publish your infographic on their blog with a link credit back to your website as the author of the design. A fantastic natural looking link building technique.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_outreach1">
                                                        Where are the links placed?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_outreach1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    You'll get a credit link usually underneath the bottom of the infographic where it's natural to place. This is great for link position diversity.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_outreach2">
                                                        How long will these placements stay live for?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_outreach2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Placements usually last indefinitely but we'll guarantee them for at least 90 days from the time of placement for peace of mind. The majority will be around for years.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_outreach3">
                                                        What information do I need to provide?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_outreach3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    We'll need the URL of where your infographic is published on yours or your client's site and we'll need to know what brand anchor text you want to use and the target URL.
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <a class="btn btn-primary btn-block" href="infographic_outreach.html">Place Order</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="content_writing">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/9.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/10.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/11.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/12.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p>Crisp, clean and concise magazine quality content written to order and delivered from in as little as 72 hours. Choose from web content to blog posts to press release and more and you can even choose from 500 to 2000 words per project. <a href="#" target="_blank" style="color:#4099FF;">Take the full service tour here</a>.</p>																															<ul class="list-unstyled lh1-4">
                                        <li>
                                            <strong>500 Words</strong> - £15.00 / $25.00
                                        </li>
                                        <li>
                                            <strong>750 Words</strong> - £22.50 / $37.50
                                        </li>
                                        <li>
                                            <strong>1000 Words</strong> - £30.00 / $50.00
                                        </li>
                                        <li>
                                            <strong>1500 Words</strong> - £45.00 / $70.00
                                        </li>
                                        <li>
                                            <strong>2000 Words</strong> - £60.00 / $90.00
                                        </li>
                                    </ul>
                                    <div class="panel-group" id="content_writingfaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#content_writing0">
                                                        What if I don’t like the content, can you make changes?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="content_writing0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Yes of course. From your dashboard you can request a revision and specify the details of that revision.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#content_writing1">
                                                        Who writes the content?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="content_writing1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Our exceptionally talented in-house trained team of 30+ writers.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#content_writing2">
                                                        What information do you need for my order?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="content_writing2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    We ask for the title/concept and brief description of the content requirements. You can also provide us with the website if you think this would help with the content style.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#content_writing3">
                                                        What content types do you offer?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="content_writing3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    We can do standard web contenting writing through to blog posts, press releases, educational posts and web pages. Just choose which option you need during the order process.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block" href="~/zillablogs/create">Place Order</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="press_release_distribution">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/1.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/2.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/3.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/4.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p>Distribute written press release news to 50+ online media outlets including Google News with our 100% done-for-you press release distribution service. You’ll get a minimum of 30 live press release placements with links. <a href="#" target="_blank" style="color:#4099FF;">Take the full service tour here</a>.</p>																															<ul class="list-unstyled lh1-4">
                                        <li>
                                            <strong>Press Release Distribution Only (No Writing)</strong> - Just £60 / $90 Per Release
                                        </li>
                                        <li>
                                            <strong>Press Release Writing &amp; Distribution</strong> - Just £75 / $115 Per Release
                                        </li>
                                    </ul>
                                    <div class="panel-group" id="press_release_distributionfaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#press_release_distribution0">
                                                        How many sites will my press release appear on?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="press_release_distribution0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    You can expect a minimum of 30 live placements. We hand submit them so we track progress until at least 30 are live but over time you can expect more.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#press_release_distribution1">
                                                        How many links can I have in the press release?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="press_release_distribution1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Some sites allow up to one anchor text within the content and we also include a website link from the profile information if allowed. Not all sites will allow links but we usually expect at least 30 placements with links.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#press_release_distribution2">
                                                        Are the links follow or nofollow?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="press_release_distribution2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    There's a generally mix but you'll find more follow than nofollow. This will ensure it looks like a natural distribution release.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#press_release_distribution3">
                                                        Will I receive a report?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="press_release_distribution3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Yes, once complete from within your dashboard you'll see a report with at least 30 live publications.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-primary btn-block" href="press_release_distribution.html">Place Order</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="infographic_design">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/5.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/6.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/7.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/8.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p>Beautifully designed infographics with a 100% white label and hassle-free design process. Choose from 2 different infographic lengths and we’ll even do the research if you need us to. <a href="#" target="_blank" style="color:#4099FF;">Take the full service tour here</a>.</p>																															<ul class="list-unstyled lh1-4">
                                        <li>
                                            <strong>Basic Design Up To 10 Stats (No Revisions)</strong> - £95 / $145
                                        </li>
                                        <li>
                                            <strong>Premium Design Up To 20 Stats (1 Revision)</strong> - £190 / $290
                                        </li>
                                        <li>
                                            <strong>Platinum Design Up To 30 Stats (Unlimited Revisions)</strong> - £285 / $430
                                        </li>
                                    </ul>
                                    <div class="panel-group" id="infographic_designfaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_design0">
                                                        What's the difference between a Basic, Premium and Platinum Infographic?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_design0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    With Basic designs you can have up to 10 stats / factual elements but with no revisions. You will still get the editable design files. With Premium designs you get up to 20 stats / factual elements with unlimited revisions and with Platinum designs you get up to 30 stats / factual elements ideal for in depth highly detailed designs.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_design1">
                                                        Do you incorporate my websites branding?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_design1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Yes, we’ll design every infographic to match your company branding and style. We’ll also include your company logo for each project. You’ll never know Fat joe designed it making it completely white label.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_design2">
                                                        Can you do the research?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_design2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Yes, just choose the research option and we'll handle all of that for you too.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#infographic_design3">
                                                        What if I need a revision?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="infographic_design3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    For Premium and Platinum designs it includes unlimited revisions but for Basic you’ll only get the editable design files which you must make the edits yourself.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-primary btn-block" id="btn-next">Place Order</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="local_business_citations">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/9.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/10.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/11.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/12.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p>Try our 100% manual local business citation submission service. Our production team will manually build your business citations in local country specific directories including NAP information which will provide long lasting value for local SEO. Live links and screenshot submission reports available to download in your dashboard. <a href="#" target="_blank" style="color:#4099FF;">Take the full service tour here</a>.</p>																															<ul class="list-unstyled lh1-4">
                                        <li>
                                            <strong>Zilla Local Starter</strong> : £125 each 
                                                
                                               
                                        </li>
                                        <li>
                                            <strong>Zilla Local Small</strong> : £150 each
                                            
                                        </li>
                                        <li>
                                            <strong>Zilla Local Medium</strong> : £260 each  
                                        </li>
                                        <li>
                                            <strong>Zilla Local Large</strong> : £400 each

                                       </li>
                                    </ul>
                                    <div class="panel-group" id="local_business_citationsfaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#local_business_citations0">
                                                        What if my business is already listed in a directory?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="local_business_citations0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    We'll check for existing listings in the directories we are submitting to and avoid any where accurate information on your business already exists.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#local_business_citations1">
                                                        How many submissions will result in live placements?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="local_business_citations1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    On average more than 70% of our submissions go live within a period of a few weeks.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#local_business_citations2">
                                                        Can I see all my listings?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="local_business_citations2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Yes, we'll provide a full live link and screenshot submission report which you can download in an unbranded CSV ready for white labelling to show your client.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#local_business_citations3">
                                                        What if I need to make a change to a listing?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="local_business_citations3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    We provide all the account information and log in details we used to create your listing. Simply log in and follow the directories process to edit a listing.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#local_business_citations4">
                                                        Will I get a website link and how many are follow?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="local_business_citations4" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Approximately 50% of the directories will allow a website link and of those 50% around half will be a dofollow link.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-primary btn-block" href="~/citations/create">Place Order</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="media_placements">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/1.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/2.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/3.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" target="_blank">
                                                <img src="~/assets/images/gallery/4.jpg" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p>Aquire links and mentions from the worlds largest DA50+ media sites including Forbes, Huffington Post, Life Hack, and Entrepreneur. With our exclusive connections and contacts within the industry, you'll be able to land links that others would only dream of.</p>																															<ul class="list-unstyled lh1-4">
                                        <li>
                                            <strong>You choose the media site</strong> - from £225 / $300 Per Placement
                                        </li>
                                    </ul>
                                    <div class="panel-group" id="media_placementsfaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#media_placements0">
                                                        Can we choose the media site?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="media_placements0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Yes, absolutely. During the order process, you can choose which sites you'd like to gain link mentions from. Whilst you'll get to choose which site you want to appear on, the media sites editors will have the final say and should you not meet the criteria we will happily provide a full refund.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#media_placements1">
                                                        Can I choose the anchor text / target url?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="media_placements1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    You can provide a 'guide' for the editor, however, he or she will ultimately decide which is the best and most natural anchor text and page to link to on your website. These are some of the worlds largest publications and it is likely they will not use commercial terms or link to product or service pages.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#media_placements2">
                                                        Who writes the content?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="media_placements2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    The content is written by an editor of the media site. You'll have no control on what they write, however, these are some of the best editors in the world so you're in good hands. Ultimately they'll have the final say on whether they are prepared to link to your site and how they do it.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#media_placements3">
                                                        What will the content be about?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="media_placements3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    The editor will be in complete control over this and they will consider previous content that has been written on the media site and also consider carefully how to relate the subject to your website. Whilst the content will be related in some way and it will make sense for the editor to link to you again we have no control over this element. This allows editors to have full control over creativity and ensure maximum acceptance.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#media_placements4">
                                                        Where are the links placed?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="media_placements4" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    Links and mentions will usually be placed within the natural flow of the content and may be in the form of a quote or text referral to your website. The editor will maintain full control over how they will naturally incorporate your link.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#media_placements5">
                                                        Do you provide refunds?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="media_placements5" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    We will only provide refunds if we are unable to secure you a placement. We are unable to provide refunds for any other reason.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#media_placements6">
                                                        How long will it take?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="media_placements6" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    On average placements will take around 6 weeks. Please note that this is approximate and the delivery time will also depend on the publications content pipeline.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-primary btn-block" id="btn-next">Place Order</a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="whiteboard_explainer_video">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe src="https://www.youtube.com/embed/Eygoob-qwGs?rel=0"></iframe>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe src="https://www.youtube.com/embed/68_3IiVv81s?rel=0"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>

                                    <p>Increase conversions on yours or your client's websites with a 30-60 second engaging whiteboard explainer video. Video's can also be used on social media and advertising. Educate potential customers about your products and services. Make more sales and create more exciting advertising for social media.</p>
                                    <ul>
                                        <li>30-60 second video</li>
                                        <li>Includes American Male Voiceover</li>
                                        <li>You can give us a script or we will write one for you</li>
                                        <li>Includes 1 revision of script and video</li>
                                        <li>Remarkably low price for huge markup potential</li>
                                    </ul>
                                    <div class="panel-group" id="whiteboard_explainer_videofaq" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#whiteboard_explainer_videofaq" href="#whiteboard_explainer_video0">
                                                        How long is the video?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="whiteboard_explainer_video0" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    The video will typically be between 30 and 60 seconds based on a 75 word script.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#whiteboard_explainer_videofaq" href="#whiteboard_explainer_video1">
                                                        What should the video be about?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="whiteboard_explainer_video1" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    This is totally up to you and your campaign agenda, but these explainer videos work really well to explain your company as a whole, or a certain product or service individually. You could even use this service to summarise blog posts or content assets.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#whiteboard_explainer_videofaq" href="#whiteboard_explainer_video2">
                                                        How do I write a video script?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="whiteboard_explainer_video2" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    If you know what you want us to say in your video, you can give us the script. It should be no more than 75 words and read well, with pauses and commas to accentuate how you want it to be spoken. <a href="#" target="_blank">Here's an example</a>. If you want us to write the script, we sure can, just select this option in the order form.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#whiteboard_explainer_videofaq" href="#whiteboard_explainer_video3">
                                                        I want a different style of video instead of whiteboard animation, can you help?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="whiteboard_explainer_video3" class="panel-collapse collapse" role="tabpanel">
                                                <div class="panel-body lh1-4">
                                                    No, sorry. As with all of our services, we are built for scale. Scale helps us keep prices low and turnarounds fast! Whiteboard animation is our only style at this moment.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary btn-block" href="whiteboard_explainer_video">Place Order</a>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>