@{
    ViewBag.Title = "Blogger Outreach";
    Layout = "~/Views/Shared/_layout_without_sidebar.cshtml";
    
}

<div class="content-page content-page-new">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="col-sm-12">
                <div class="card-box">
                    <ol class="breadcrumb breadcrumb2">
                        <li><a href="~/orders/Add_new">Services</a></li>
                        <li class="active">Blogger Outreach</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="pannel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="place-order" style="margin-bottom:50px;">

                                    <span class="badge step-indicator">2</span> Blogger Outreach Project Details

                                </div>
                            </div>
                            <div class="col-md-6">
                                Sub Total: <span>GBP <i class="fa fa-gbp"></i>0.00 </span>/<span> Approx USD $0</span><br>
                                <span style="margin-left:22%;">Estimated Completion</span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Choose your quantity (Press Enter)</label><br /><br />
                                <div class="form-group">

                                    <div id="package-quantity-1" class="form-group">

                                        <span>DA 10+ Websites *LowTier*</span>
                                    </div>

                                    <div class="input-group m-t-10">
                                        <input type="number" data-package-id="1" name="packages[1]" class=" form-control package-qty" value="0">
                                        <span class="input-group-addon">
                                            <span id="oldCost"><i class="fa fa-gbp"></i>45</span>

                                            each
                                            <i class="fa fa-question-circle" title="DA 10+ Websites *LowTier* costs  1 - 24 £45.00 each  25 - 49 £40.00 each 50+ £35.00 each"></i>
                                        </span>
                                    </div>




                                </div>

                                <div class="form-group">

                                    <div id="package-quantity-2" class="form-group">

                                        <span>DA 20+ Websites *MidTier*</span>
                                    </div>

                                    <div class="input-group m-t-10">
                                        <input type="number" data-package-id="2" name="packages[2]" class=" form-control package-qty" value="0">
                                        <span class="input-group-addon">
                                            <span id="oldCost"><i class="fa fa-gbp"></i>60</span>

                                            each
                                            <i class="fa fa-question-circle" title="DA 20+ Websites *MidTier* costs 1 - 24 £60.00 each 25 - 49 £55.00 each 50+ £50.00 each"></i>
                                        </span>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <div id="package-quantity-3" class="form-group">

                                        <span>DA 30+ Websites *HighTier*</span>
                                    </div>

                                    <div class="input-group m-t-10">
                                        <input type="number" data-package-id="3" name="packages[3]" class=" form-control package-qty" value="0">
                                        <span class="input-group-addon">
                                            <span id="oldCost"><i class="fa fa-gbp"></i>80</span>

                                            each
                                            <i class="fa fa-question-circle" title="DA 30+ Websites *HighTier* costs 1 - 24 £80.00 each 25 - 49 £75.00 each 50+ £70.00 each"></i>
                                        </span>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <div id="package-quantity-4" class="form-group">

                                        <span>DA 40+ Websites *Premium*</span>
                                    </div>

                                    <div class="input-group m-t-10">
                                        <input type="number" data-package-id="4" name="packages[4]" class=" form-control package-qty" value="0">
                                        <span class="input-group-addon">
                                            <span id="oldCost"><i class="fa fa-gbp"></i>250</span>

                                            each
                                            <i class="fa fa-question-circle" title="DA 40+ Websites *Premium* costs  1+ £250.00 each"></i>
                                        </span>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <div id="package-quantity-5" class="form-group">

                                        <span>DA 10+ Websites (Payday Loans / Gambling / Pharma)</span>
                                    </div>

                                    <div class="input-group m-t-10">
                                        <input type="number" data-package-id="5" name="packages[5]" class=" form-control package-qty" value="0">
                                        <span class="input-group-addon">
                                            <span id="oldCost"><i class="fa fa-gbp"></i>80</span>

                                            each
                                            <i class="fa fa-question-circle" title="DA 10+ Websites (Payday Loans / Gambling / Pharma)costs 1+ £80.00 each"></i>
                                        </span>
                                    </div>

                                </div>


                            </div>


                            <div class="col-md-6">
                                <!--<div class="btn">
                                    <span><button class="btn btn-link">Larger order? Try the spreadsheet view:</button> </span><button class="btn btn-icon waves-effect btn-default m-b-5"> <i class="fa fa-table"></i> </button>
                                </div>-->
                                <br /><br /><br />
                                <div class="box">
                                    <ul>
                                        <li class="style"><i class="fa fa-check" aria-hidden="true"></i>For best / natural results mix up DA range placements</li>
                                        <li class="style"><i class="fa fa-check" aria-hidden="true"></i>Use word count upgrades to vary content length and reduce footprints</li>
                                        <li class="style"><i class="fa fa-check" aria-hidden="true"></i>No regional identifiers. These look unnatural and can be risky to your link profile</li>
                                        <li class="style"><i class="fa fa-check" aria-hidden="true"></i> We recommend no more than 20 placements per domain per month</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <!-------package data ---->

                        <div id="package-data">
                            <div id="package-data-1" class="hidden package-container">
                                <div class="panel-sub-heading">
                                    <h4 class="panel-title" style="color:#188ae2;">DA 10+ Websites *LowTier* project details</h4>
                                </div>

                            </div>
                            <div id="package-data-2" class="hidden package-container">
                                <div class="panel-sub-heading">
                                    <h4 class="panel-title" style="color:#188ae2;">DA 20+ Websites *MidTier* project details</h4>
                                </div>

                            </div>
                            <div id="package-data-3" class="hidden package-container">
                                <div class="panel-sub-heading">
                                    <h4 class="panel-title" style="color:#188ae2;">DA 30+ Websites *HighTier* project details</h4>
                                </div>

                            </div>
                            <div id="package-data-4" class="hidden package-container">
                                <div class="panel-sub-heading">
                                    <h4 class="panel-title" style="color:#188ae2;">DA 40+ Websites *Premium* project details</h4>
                                </div>

                            </div>
                            <div id="package-data-5" class="hidden package-container">
                                <div class="panel-sub-heading">
                                    <h4 class="panel-title" style="color:#188ae2;">DA 10+ Websites (Payday Loans / Gambling / Pharma) project details</h4>
                                </div>

                            </div>
                        </div>
                        <!------------------------>
                        <div class="row">
                            <div class="pannel-body">
                                <div class="col-md-12">
                                    <label>Optional Order Comments (Please note: special order requests are not guaranteed)</label><br />
                                    <textarea maxlength="500" name="notes[20]" rows="3" id="notes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div><br /><br />

                        <div class="row">

                            <div class="col-xs-6">
                                <a href="~/orders/Add_new"><button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Back</button></a>

                            </div>
                            <div class="col-xs-6">
                                <a href=""><button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5 next_btn">Next</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
</div>

<script>
        var pack = '<div class="form-group-row"><div class="col-md-4"><label class="label-field">Word Count Required</label><div class="input-group"><select id="select1" class="form-control" data-field="0" data-row="0"><option value="500 Words" data-cost="0">500 Words</option><option value="750 Words" data-cost="7.50">750 Words +(£7.50)</option><option value="1000 Words" data-cost="10.00">1000 Words +(£10.00)</option><option value="1250 Words" data-cost="12.50">1250 Words +(£12.50)</option><option value="1500 Words" data-cost="15.00">1500 Words +(£15.00)</option></select><div class="input-group-addon"><a class="label label-primary" title="We recommend you vary word counts to avoid leaving link building footprints." ">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Anchor Text*</label><div class="input-group"><input id="text1" type="text" class="form-control" data-field="1" data-row="0" value="" required="true"><div class="input-group-addon"><a class="label label-primary" title="We may tweak anchor phrases slightly (even remove regional identifiers) if they will not naturally fit into the flow of content.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Target URL*</label><div class="input-group"><input id="text2" type="url" data-field-type="url" class="form-control" data-field="2" data-row="0" value="" required="true"><div class="input-group-addon"><a class="label label-primary" title="Please tell us the URL you would like the link to point to." ">Tip</a></div></div></div></div>';
</script>