@{
    ViewBag.Title = "Local Business Citations";
    Layout = "~/Views/Shared/_layout_without_sidebar.cshtml";
}


<div class="content-page content-page-new">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="col-lg-12">
                <div class="card-box">
                    <ol class="breadcrumb breadcrumb2">
                        <li><a href="~/orders/Add_new">Services</a></li>
                        <li class="active">Local Business Citations</li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="place-order" style="margin-bottom:50px;">

                                <span class="badge step-indicator">2</span>Local Business Citations Project Details

                            </div>
                        </div>
                        <div class="col-md-6">
                            Sub Total: <span>GBP <i class="fa fa-gbp"></i><span class="totalcost">0</span> </span>/<span> Approx USD $ 0</span><br>
                            <span style="margin-left:22%;">Estimated Completion</span>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-md-6">

                            <label>Choose your quantity (Press Enter)</label><br /><br />

                            <div class="form-group">

                                <div id="package-quantity-1" class="form-group">

                                    <span>25 Citations</span>
                                </div>

                                <div class="input-group m-t-10">
                                    <input type="number" data-package-id="1" name="packages[1]" class="form-control package-qty" value="0">
                                    <span class="input-group-addon">
                                        <span id="oldCost-1"><i class="fa fa-gbp"></i>40</span>
                                        <span class="hide" id="newCost-1">0</span>
                                        each
                                        <i class="fa fa-question-circle" title="25 Citations costs 1+ £40.00 each"></i>
                                    </span>
                                </div>




                            </div>

                            <div class="form-group">

                                <div id="package-quantity-2" class="form-group">

                                    <span>50 Citations</span>
                                </div>

                                <div class="input-group m-t-10">
                                    <input type="number" data-package-id="2" name="packages[2]" class="form-control package-qty" value="0">
                                    <span class="input-group-addon">
                                        <span id="oldCost-2"><i class="fa fa-gbp"></i>70</span>
                                        <span class="hide" id="newCost-2">0</span>
                                        each
                                        <i class="fa fa-question-circle" title="50 Citations costs 1+ £50.00 each"></i>
                                    </span>
                                </div>

                            </div>

                            <div class="form-group">

                                <div id="package-quantity-3" class="form-group">

                                    <span>100 Citations</span>
                                </div>

                                <div class="input-group m-t-10">
                                    <input type="number" data-package-id="3" name="packages[3]" class="form-control package-qty" value="0">
                                    <span class="input-group-addon">
                                        <span id="oldCost-3"><i class="fa fa-gbp"></i>100</span>
                                        <span class="hide" id="newCost-3">0</span>
                                        each
                                        <i class="fa fa-question-circle" title="100 Citations costs 1+ £100.00 each"></i>
                                    </span>
                                </div>

                            </div>
                            <span class="hide" id="newCost-4">0</span><span class="hide" id="newCost-5">0</span>


                        </div>
                        <div class="col-md-6">
                            <!--<div class="btn">
                                <span><button class="btn btn-link">Larger order? Try the spreadsheet view:</button> </span><button class="btn btn-icon waves-effect btn-default m-b-5"> <i class="fa fa-table"></i> </button>
                            </div>-->
                            <br /><br /><br />
                            <div class="box">
                                <ul>
                                    <li class="style"><i class="fa fa-check" aria-hidden="true"></i>This is a submission only service with full submission report</li>
                                    <li class="style"><i class="fa fa-check" aria-hidden="true"></i>We create an email address used for submissions only</li>
                                    <li class="style"><i class="fa fa-check" aria-hidden="true"></i>Service is limited to 100 citation submissions per business address</li>
                                    <li class="style"><i class="fa fa-check" aria-hidden="true"></i> You'll have full control with all login information provided</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-----Hidden---->
                    <div id="package-data">
                        <div id="package-data-1" class="hidden package-container">
                            <div class="panel-sub-heading">
                                <h4 class="panel-title" style="color:#188ae2;">25 Citations project details</h4>
                            </div>

                        </div>
                        <div id="package-data-2" class="hidden package-container">
                            <div class="panel-sub-heading">
                                <h4 class="panel-title" style="color:#188ae2;">50 Citations project details</h4>
                            </div>

                        </div>
                        <div id="package-data-3" class="hidden package-container">
                            <div class="panel-sub-heading">
                                <h4 class="panel-title" style="color:#188ae2;">100 Citations project details</h4>
                            </div>

                        </div>
                    </div>

                    <!-------->
                    <div class="row">

                        <div class="col-md-12">
                            <label>Optional Order Comments (Please note: special order requests are not guaranteed)</label><br />
                            <textarea maxlength="500" name="notes[20]" rows="3" id="notes" class="form-control"></textarea>
                        </div>
                    </div><br /><br />

                    <div class="row">


                        <div class="col-xs-6">
                            <a href="~/Add_new"  type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Back</a>

                        </div>
                        <div class="col-xs-6">
                            <a href=""  type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5 next_btn">Next</a>

                        </div>


                    </div>

                </div> <!-- container -->
            </div> <!-- content -->
        </div>
    </div>
  
</div>
<script>
var pack = '<div class="form-group-row"><div class="col-md-4"><label class="label-field">Select Country*</label><select id="select2" class="form-control" data-field="0" data-condition="undefined" data-condition-target="undefined" data-row="0"><option value="UK" data-cost="0">UK</option><option value="USA" data-cost="0">USA</option><option value="Canada" data-cost="0">Canada</option><option value="Australia" data-cost="0">Australia</option></select></div><div class="col-md-4"><label class="label-field">Business Name*</label><div class="input-group"><input id="text3" type="text" data-field-type="text" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="1" data-row="0" value="" required="true"><div class="input-group-addon"><a data-toggle="tooltip" data-placement="bottom" data-container="body" class="label label-primary" title="Enter the name of the business here.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Website URL*</label><div class="input-group"><input id="text4" type="url" data-field-type="url" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="2" data-row="0"  value="" required="true"><div class="input-group-addon"><a data-toggle="tooltip" data-placement="bottom" data-container="body" class="label label-primary" title="Enter the full homepage website address here.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Brief Business Description (Max 100 Words)*</label><div class="input-group"><input id="text5" type="text" data-field-type="text" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="3" data-row="0" value="" required="true"><div class="input-group-addon"><a data-toggle="tooltip" data-placement="bottom" data-container="body" class="label label-primary" title="Please enter a brief description of what this business is and the services it offers.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Keywords (Max 5)*</label><div class="input-group"><input id="text6" type="text" data-field-type="text" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="4" data-row="0"  value="" required="true"><div class="input-group-addon"><a data-toggle="tooltip" data-placement="bottom" data-container="body" class="label label-primary" title="Enter a maximum of 5 keywords associated with this business.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Founder / CEO*</label><div class="input-group"><input id="text7" type="text" data-field-type="text" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="5" data-row="0"  value="" required="true"><div class="input-group-addon"><a data-toggle="tooltip" data-placement="bottom" data-container="body" class="label label-primary" title="Enter the business owners name here.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Full Address Inc Post / Zip Code*</label><div class="input-group"><input id="text8" type="text" data-field-type="text" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="6" data-row="0" value="" required="true"><div class="input-group-addon"><a data-toggle="tooltip" data-placement="bottom" data-container="body" class="label label-primary" title="Enter the full registered business address here.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Phone Number*</label><div class="input-group"><input id="text9" type="text" data-field-type="text" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="7" data-row="0" value="" required="true"><div class="input-group-addon"><a data-toggle="tooltip" data-placement="bottom" data-container="body" class="label label-primary" title="Enter the phone number including area code here.">Tip</a></div></div></div><div class="col-md-4"><label class="label-field">Listing Email Address*</label><div class="input-group"><input id="text10" type="text" data-field-type="text" data-condition="undefined" data-condition-target="undefined" class="form-control" data-field="8" data-row="0" value="" required="true"><div class="input-group-addon"><a  data-placement="bottom" data-container="body" class="label label-primary" title="This is the business email used which will be displayed on listings.">Tip</a></div></div></div></div>';
</script>